/*********Generelle indstillinger***********/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #feffeb;
}

img {
    width: 100%;
}


section {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/*IANA START*/

/*** fonte ***/
/*
font-family: eurostile,sans-serif;
font-weight: 700;
font-style: normal;

font-family: 'PT Sans', sans-serif;

@font-face {
    font-family: 'krungthep';
    src: url("fonts/krungthep/krungthep-webfont.woff") format('woff');
    src: url("fonts/krungthep/krungthep-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

*/

























































































/*IANA SLUT*/


/*MICHELLE START*/

































































































/*MICHELLE SLUT*/
