/*********Generelle indstillinger***********/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fffbeb;
}

img {
    width: 100%;
}


section {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

video {
    width: 100%;
    height: auto;
}

/*IANA START*/

































































































/*IANA SLUT*/


/*MICHELLE START*/

#piercinger .wrap {
    display: flex;
    flex-wrap: wrap;

}

#piercinger .col {
    flex-grow: 1;
    flex-basis: 600px;

    padding: 0rem 0.6rem 0.6rem;
    margin: 0.2rem;
}


@media only screen and (min-width: 700px) {
    #piercinger .col {
        flex-basis: 180px;
    }
}




























































































/*MICHELLE SLUT*/
